* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background: black;
  color: white;
  font-family: 'pinyon script', cursive
}

button {
  height: 30px;
  width: 50px;
  border-radius: 10px;
}

.headerComponent {
  width: 96vw;
  margin: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo {
  width: 12vw
}

.navIcons {
  width: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.addInputs {

}

.editInputs {

}
