* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background: black;
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: 'pinyon script', -apple-system, BlinkMacSystemFont, cursive;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

i {
  color: whitesmoke;
  margin: 5px 10px;
}

input {
  background: rgba(0,0,0,0);
  color: whitesmoke;
  margin: 5px;
  height: 50px;
  width: 190px;
  border-radius: 10px;
  font-family: 'pinyon script', cursive;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700
}

* :focus {
  outline: none
}

::placeholder {
  color: whitesmoke
}

.headerComponent {
  height: 20vh;
  width: 96vw;
  margin: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: top
}

.navIcons {
  width: 15vw;
  display: flex;
  justify-content: flex-end;
}

.searchInput {
  width: 15vw;
  margin: 0
}

.navPlusSearchBar {
  display: flex;
  flex-direction: column;
  justify-content: right
}

.addInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.servicelog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row
}

.serviceRecordData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.serviceRecordButtons {
  display: flex;
  justify-content: center;
  align-items: center
}

.editInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.editBtns {
  display: flex;
  justify-content: center;
  align-items: center
}

 footer {
  width: 96vw;
  margin: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center
}
