* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background: black;
  color: white
}

.headerComponent {
  width: 96vw;
  margin: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}


.navIcons {
  width: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center
}
